GeckoCIRCUITS/
/PythonGeckoApp/.vs/PythonGecko/v15/.suo
/.vs/PyGeckoCircuits/v16
/.vs
/PythonGeckoApp/.vs/PythonGecko/v16
PythonGeckoApp/PythonGecko/__pycache__/
/PythonGeckoApp/PythonGecko/calc_AFE/df967c18-018b-4de1-92d5-a77df5e1e6ce
